<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid d-flex justify-content-between">
    <a class="navbar-brand">TaskFlow</a>
    <div class="d-flex align-items-center">
      <span style="font-size: medium" class="me-2">
        <h2 style="text-transform: capitalize">{{ user.name }}</h2></span
      >
      <button class="btn btn-transparent">
        <i
          class="bx bx-log-out"
          (click)="logout()"
          style="color: black; font-size: 30px"
        ></i>
      </button>
    </div>
  </div>
</nav>

<!-- Layout con Sidebar y Contenido Principal -->
<div class="container-fluid">
  <div class="row">
    <!-- Sidebar -->
    <div class="col-md-2 sidebar">
      <button
        class="btn btn-dark mt-3 rounded-circle"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal"
      >
        <i class="bx bx-plus" style="color: white; font-size: 25px"></i>
      </button>
    </div>

    <!-- Modal -->
    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="modal-title" id="exampleModalLabel">Create Task</h2>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <form (ngSubmit)="onSubmit(f)" #f="ngForm">
              <div class="modal-body">
                <div class="mb-3">
                  <label for="taskTitle" class="form-label">Título</label>

                  <input
                    type="text"
                    class="form-control"
                    id="taskTitle"
                    [(ngModel)]="task.title"
                    name="title"
                    required
                  />
                </div>
                <div class="mb-3">
                  <label for="taskDescription" class="form-label"
                    >Descripción</label
                  >
                  <textarea
                    class="form-control"
                    id="taskDescription"
                    [(ngModel)]="task.description"
                    name="description"
                  ></textarea>
                </div>
                <div class="mb-3">
                  <label for="taskDueDate" class="form-label"
                    >Fecha de Vencimiento</label
                  >
                  <input
                    type="date"
                    class="form-control"
                    id="taskDueDate"
                    [(ngModel)]="task.dueDate"
                    name="dueDate"
                  />
                </div>
              </div>
              <div class="modal-footer">
                <button
                  type="submit"
                  class="btn btn-primary w-100"
                  data-bs-dismiss="modal"
                >
                  Create task
                </button>
              </div>
            </form>
          </div>
          <div class="modal-footer"></div>
        </div>
      </div>
    </div>

    <!-- Edit Task Modal -->
    <div
      class="modal fade"
      id="editTaskModal"
      tabindex="-1"
      aria-labelledby="editTaskModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="modal-title" id="editTaskModalLabel">Edit Task</h2>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <form (ngSubmit)="onUpdateTask(f)" #f="ngForm">
              <div class="mb-3">
                <label for="editTaskTitle" class="form-label">Título</label>
                <input
                  type="text"
                  class="form-control"
                  id="editTaskTitle"
                  [(ngModel)]="task.title"
                  name="title"
                  required
                />
              </div>
              <div class="mb-3">
                <label for="editTaskDescription" class="form-label"
                  >Descripción</label
                >
                <textarea
                  class="form-control"
                  id="editTaskDescription"
                  [(ngModel)]="task.description"
                  name="description"
                ></textarea>
              </div>
              <div class="mb-3">
                <label for="editTaskDueDate" class="form-label"
                  >Fecha de Vencimiento</label
                >
                <input
                  type="date"
                  class="form-control"
                  id="editTaskDueDate"
                  [(ngModel)]="task.dueDate"
                  name="dueDate"
                />
              </div>
              <div class="modal-footer">
                <button
                  type="submit"
                  class="btn btn-primary w-100"
                  data-bs-dismiss="modal"
                >
                  Update Task
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- Ver Info Task Modal -->
    <div
      class="modal fade"
      id="verTaskModal"
      tabindex="-1"
      aria-labelledby="verTaskModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="modal-title" id="verTaskModalLabel">Task Information</h2>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <div class="mb-3">
              <label for="verTaskTitle" class="form-label">Título</label>
              <p id="verTaskTitle">{{ task.title }}</p>
            </div>
            <div class="mb-3">
              <label for="verTaskDescription" class="form-label"
                >Descripción</label
              >
              <p id="verTaskDescription" class="text-wrap">
                {{ task.description }}
              </p>
            </div>
            <div class="mb-3">
              <label for="verTaskDueDate" class="form-label"
                >Fecha de Vencimiento</label
              >
              <p id="verTaskDueDate">
                {{ task.dueDate | date : "dd/MM/yyyy" : "GMT" }}
              </p>
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Contenido Principal -->
    <!-- Contenido Principal -->
    <div class="col-md-9">
      <h1 class="mt-4">Tasks</h1>
      <div class="row">
        <div *ngFor="let task of tasks" class="col-md-4 mb-4">
          <div
            class="card d-flex flex-column justify-content-between"
            [ngStyle]="{ 'background-color': task.color }"
            [ngClass]="{ 'animate__animated animate__shakeX': isNewTask(task) }"
          >
            <div class="card-body d-flex flex-column">
              <div
                class="d-flex justify-content-between align-items-start mb-2"
              >
                <div class="text-truncate">
                  <h2 class="card-title text-truncate">{{ task.title }}</h2>
                </div>
                <div class="dropdown">
                  <button
                    class="btn btn-transparent dropdown-toggle"
                    type="button"
                    id="dropdownMenuButton"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    <i
                      class="bx bx-dots-vertical-rounded"
                      style="font-size: 20px"
                    ></i>
                  </button>
                  <ul
                    class="dropdown-menu animate__animated animate__bounceIn"
                    aria-labelledby="dropdownMenuButton"
                  >
                    <li>
                      <button
                        (click)="deleteTask(task.id)"
                        class="dropdown-item"
                      >
                        Eliminar
                      </button>
                    </li>
                  </ul>
                </div>
              </div>
              <p class="card-text text-truncate mb-3">
                {{ task.description }}
              </p>
              <p class="card-text mb-3">
                Fecha de Expiración:
                {{ task.dueDate | date : "dd/MM/yyyy" : "GMT" }}
              </p>
              <div
                class="d-flex flex-wrap justify-content-between align-items-center"
              >
                <button
                  class="btn btn-dark rounded-circle"
                  (click)="openEditModal(task)"
                  data-bs-toggle="modal"
                  data-bs-target="#editTaskModal"
                >
                  <i class="bx bx-edit" style="font-size: 25px"></i>
                </button>

                <div class="status-checkboxes d-flex flex-wrap w-100 mt-2">
                  <div class="status-checkbox-container me-2">
                    <input
                      type="checkbox"
                      id="pending-{{ task.id }}"
                      class="status-checkbox"
                      [checked]="task.status === 'pending'"
                      (change)="updateStatus(task, 'Pending')"
                    />
                    <label for="pending-{{ task.id }}" class="status-label"
                      >Pending</label
                    >
                  </div>
                  <div class="status-checkbox-container me-2">
                    <input
                      type="checkbox"
                      id="complete-{{ task.id }}"
                      class="status-checkbox"
                      [checked]="task.status === 'completed'"
                      (change)="updateStatus(task, 'Completed')"
                    />
                    <label for="complete-{{ task.id }}" class="status-label"
                      >Complete</label
                    >
                  </div>
                  <div class="status-checkbox-container">
                    <input
                      type="checkbox"
                      id="in-progress-{{ task.id }}"
                      class="status-checkbox"
                      [checked]="task.status === 'in_progress'"
                      (change)="updateStatus(task, 'In Progress')"
                    />
                    <label for="in-progress-{{ task.id }}" class="status-label"
                      >In Progress</label
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
