.circle {
  background: #edeaea;
  width: 100px;
  height: 100px;
  font-size: 50px;
  color: #268df3;
  border-radius: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #c0c0c0;
}
